.gamefield {
    background: dimgray;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.gameBlock {
    border-radius: 3%;
    box-sizing: border-box;
    transition: .25s;
    position: absolute;
}